#top_left {
    height: 10%;
    width: 15%;
    margin-left: 2%;
    margin-top: 2%;
}

.top_left_option {
    width: inherit;
    border: 5px blue solid;
    padding: 10%;
}

#calendar_button {
    float: left;
}

#profile {
    float: left;
}